body {
    background-color: rgb(26, 26, 26);
}
#title {
    display: flex;
    justify-content: center;
    color:rgb(170, 196, 170);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* COLUMN DIVIDERS: */
.section1 {
    display: flex;
    justify-content: center;
    padding: 0px 5px 5px 10px;
   
}
.column1, .column2 {
    color:rgb(172, 234, 235);
    display: flex;
    flex-flow: column; 
    width: 49%;
    padding: 0px 5px 0px 5px;
    overflow-wrap:anywhere; 
    max-width: 350px;
    /* ^^ this (overflow-wrap:anywhere) was used to wrap long lines of continuous text from breaching into neighboring columns. */

     
}



#elements {
    color:rgb(240, 150, 6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#att {
    color:rgb(255, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 30px;
}

/* Descendant combinator for nested list items, examples. */
li li {
    color:rgb(240, 150, 6)
}


#vocabulary {
    display: flex;
    justify-content: center;
    color:rgb(119, 25, 195);
    background-color: yellow;
    padding: 5px;
    
    
    
    
}

.vocab {
    color: rgb(22, 248, 233);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.example {
    color:rgb(40, 221, 8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.CSS {
    color:rgb(161, 46, 46);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
/* Remember that when doing padding or margin, DO NOT separate each value with a semicolon. */
.css-container {
    border: 2px solid white;
    display: inline-block;
    padding: 5px 20px 5px 20px

}
.selector {
    color:rgb(66, 239, 44);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}

.property {
    color:rgb(207, 237, 38);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}

.value {
    color:rgb(25, 198, 189);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}

.css-body p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    Font-size: 15px;

}

.css-properties {
    color:rgb(247, 164, 164);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
#margin {
    color:rgb(70, 193, 178);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    display: flex;
    justify-content: column;
}
#padding {
    color:rgb(70, 193, 178);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

}

li {
    margin-top: 10px;
}
/* Practicing the margin padding here */

.margin-padding {
    border: 2px solid rgb(213, 0, 0);
    display: inline-block;
    background-color: rgb(70, 193, 178);
    margin: 10px 20px 30px 40px;
    padding: 20px 30px 40px 50px;
}

.container {
    display: inline-block;
    border: 2px solid white;
    background-color: rgb(177, 84, 196);

}

.margin-padding2 {
    border: 3px solid green;
    display: inline-block;
    background-color: rgb(170, 138, 176);
    margin: 60px 50px 40px 30px;
    padding: 40px 30px 20px 10px;
}

.container2 {
    display: inline-block;
    border: 2px solid white;
    background-color: rgb(177, 84, 196);
}

.three-types-of-styling {
    color:rgb(255, 213, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    
}

.universal-selector {
    color:rgb(255, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#flex {
    display: flex;
    Justify-content: center;
    color:rgb(255, 0, 0);
    font-size: 30px;
}
h3 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flexbox-term {
    color:rgb(230, 124, 18);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.flexbox-li {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.property-vocab {
    color:rgb(255, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-top: 20px;
    
}
#javascriptbutton {
    font-size: 30px;
    font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(246, 234, 4);
    border-radius: 10px;
    border: 1px solid rgb(243, 105, 105);
    display:block;
    margin:5px;
}

#javascriptbutton:hover {
    background-color: rgb(198, 188, 4);
    color: black;
    cursor: pointer;
    }
#javascriptbutton:active {
    background-color: rgb(142, 134, 0);
    color: black;
    cursor: pointer;
    }
    
     

#javascript {
    display: none;
}

#javascript.isVisible {
    display: block;
}
    
.javascript {
    color:salmon;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;

}

.datatype {
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
    
.methods {
    color:rgb(255, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    
}

.methodterm {
    color:rgb(107, 209, 232);
    font-size: 25px;
}
.methoddef {
    color:rgb(49, 134, 80);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.strings {
    color:rgb(255, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.string-container {
    border: 2px solid rgb(100, 12, 12);
    padding: 5px;
    display: inline-block;
    background-color: rgb(0, 0, 0);
}

.newlinecontainer {
    border: 2px solid rgb(100, 12, 12);
    padding: 5px;
    display: inline-block;
    background-color: rgb(0, 0, 0);
}

#mathTitle {
    color:rgb(255, 244, 36);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
#mathBtn {
    font-size: 30px;
    font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(246, 234, 4);
    border-radius: 10px;
    border: 1px solid rgb(243, 105, 105);
    display:block;
    margin: 5px;
    
     
}
#mathBtn:hover {
    background-color: rgb(198, 188, 4);
    color: black;
    cursor: pointer;
    }
#mathBtn:active {
    background-color: rgb(142, 134, 0);
    color: black;
    cursor: pointer;
    }
#math {
    display: none;

}

#math.isVisible {
    display: block;
}
.mathSection {
    color:rgb(38, 224, 72);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    
}



mathSection, li {
    color:rgb(238, 246, 239);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}