body {
    background-color: rgb(26, 26, 26);
}
#title {
    display: flex;
    justify-content: center;
    color:rgb(170, 196, 170);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.column {
    color:rgb(172, 234, 235);
    flex: 1;
    
       
}

#elements {
    color:rgb(240, 150, 6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#att {
    color:rgb(255, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Descendant combinator for nested list items, examples. */
li li {
    color:rgb(240, 150, 6)
}



.section1 {
    display: flex;
    justify-content: space-between;
    padding:1%;
    
    
}

#vocab {
    color:rgb(119, 25, 195);
    background-color: gold;
    width: 125px;
}

.vocab {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.CSS {
    color:rgb(161, 46, 46);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

.css-body p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    Font-size: 15px;

}

.css-properties {
    color:rgb(247, 164, 164);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
#margin {
    color:rgb(70, 193, 178);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
#padding {
    color:rgb(70, 193, 178);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

li {
    margin-top: 10px;
}
/* Practicing the margin padding here */

.margin-padding {
    border: 2px solid rgb(213, 0, 0);
    display: inline-block;
    background-color: rgb(70, 193, 178);
    margin: 10px 20px 30px 40px;
    padding: 20px 30px 40px 50px;
}

.container {
    display: inline-block;
    border: 2px solid white;
    background-color: rgb(177, 84, 196);

}

.margin-padding2 {
    border: 3px solid green;
    display: inline-block;
    background-color: rgb(170, 138, 176);
    margin: 60px 50px 40px 30px;
    padding: 40px 30px 20px 10px;
}

.container2 {
    display: inline-block;
    border: 2px solid white;
    background-color: rgb(177, 84, 196);
}