body {
    background-color: rgb(26, 26, 26);
}
#title {
    display: flex;
    justify-content: center;
    color:rgb(170, 196, 170);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.column {
    color:rgb(172, 234, 235);
    flex: 1;
    
       
}

#elements {
    color:rgb(240, 150, 6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#att {
    color:rgb(255, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Descendant combinator for nested list items, examples. */
li li {
    color:rgb(240, 150, 6)
}



.section1 {
    display: flex;
    justify-content: space-between;
    padding:1%;
    
    
}

#vocab {
    color:rgb(119, 25, 195);
    background-color: gold;
    width: 125px;
}

.vocab {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}